@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root 
{
    --text-color: #5C9DEB;
    --text-color-hover: #55b5db;
    --font-size: 1.5rem;
    --background-color: rgb(37, 48, 68);
}

* 
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body
{
  background: var(--background-color);
}