:root 
{
    --post-border-radius: 10px;
}

.posts-section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
    padding: 25px 0;
}

.posts-section h1
{
    font-size: 3rem;
}

.posts
{
    width: 80%;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.posts .post
{
    border-top-left-radius: var(--post-border-radius);
    border-top-right-radius: var(--post-border-radius);
    box-shadow: rgba(0, 0, 0, 0.349) 5px 5px 7px -2px;
    background: rgb(41, 58, 90);
    height: 300px;    
    overflow: hidden;
}

.post .post-image
{
    height: 70%;
}

.post .post-title
{
    padding: 10px;
}

.post .post-image img 
{
    cursor: pointer;
    object-fit: cover;
    filter: brightness(80%);
    height: 100%; 
    width: 100%;
    transition: all 0.4s ease;
    user-select: none;
}

.post .post-image img:hover
{
    filter: brightness(100%);
}