.edit-post .buttons
{
    display: flex;
    gap: 10px;
    padding: 20px 0px 0px 0px;
    width: 100%;
}
.edit-post .buttons button
{
    background: var(--background-color);
    border: 1px var(--text-color-hover) solid;
    border-radius: 2px;
    color: var(--text-color-hover);
    cursor: pointer;
    font-size: 20px;
    height: 2.2rem;
    position: block;
    transition: all 0.3s ease;
    width: 5rem;
    user-select: none;
}

.edit-post textarea
{
    min-height: 250px;
    resize: none;
}

.edit-post button:hover
{
    background: rgb(41, 58, 90);
}

.edit-post 
{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 40px;
}

.edit-post input[type='text'],
.edit-post textarea
{
    background: var(--background-color);
    border: 0px;
    border-radius: 2px;
    box-shadow: inset  -5px -5px 27px -16px #000;
    color: var(--text-color-hover);
    font-size: 15px;
    max-width: 100%;
    min-width: 100%;
    outline: 1px solid var(--text-color-hover);
    padding: 5px;
}

